body{
    font: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    width:1000px;
    margin:0px auto;
    background-color:#fdffba;
}
.container{
    width:1000px;
    margin:0px auto;
	background-color:white;
}
.content{	
    padding:0px 0px 0px 0px;
    margin:0px auto;
    width:100%;
    min-height:50px;
    margin:0px;
}
.content a{
    color:blue;
    text-decoration: none;
}

.content a:hover{
    color:red;
    text-decoration: none;
}

.content1{	
    padding:15px 0px 15px 0px;
    margin:0px auto;
    width:100%;
    min-height:100px;
    margin:0px;
}
.content2{	
    padding:10px 0 0 0px;
    margin:0px auto;
    width:100%;
    min-height:480px;
    margin:0px;
}
.content2 td {
	padding:15px 5px 15px 5px;
        font-size:15px;
	
}
.myButton {
	background-color:#6472f1;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	text-indent:0px;
	font-family:Times New Roman,新細明體;
	font-size:18px;
	padding:0px 0px;
	text-decoration:none;
	width:90px;
	text-align:center;
	height:35px;
	line-height:35px;
}

.myButton:hover {
	background-color:#a3abf7;
	color:#000;
}
.myButton:active {
	position:relative;
	top:1px;
}

.content1 a{
		color:blue;
		text-decoration: none;
}

.content1 a:hover{
		color:red;
		text-decoration: none;
}